*.csv
*.DS_Store*
*.log
*.idea*
*.ipynb~
*.ipynb_checkpoints*
*.iml
*.git*
*.json
*.pkl
*.tmp
*.txt
*jupyter*
*.sqlite3
*.virtual_documents/*
*.xml
*__pycache__*
analysis_results
logs
refs
file_management/foster_bird_spectrograms_samples*
file_management/foster_bird_spectrograms*
file_management/single_bird_test*
file_management/cross_foster_data_audit*
file_management/older files*
file_management/xfoster_specs*
xfoster_specs*
Volumes*
config.yaml
docs/_build/
*.egg-info/

.claude/
